# Credentials
website/.env

# Foto kendaraan (jangan push ke GitHub)
website/static/foto_kendaraan/

# Model YOLO (file besar)
*.pt

# Ngrok binary
ngrok.exe

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/
